.full{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 130px;
}

.info{
    display: flex;
    flex-direction: row;
}

.image {
    width: 50%;
    height: 90%;
    margin-left: 150px;
}

.image img {
    width: 80%;
}

.details {
    width: 50%;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.button {
    font-family: 'Bebas Neue', cursive;
      color: rgb(79, 82, 255);
      font-size: 120%;
      border: solid 1px rgb(202, 202, 202);
      border-radius:20px;
      background:none;
  }
  
  .button:hover {
    transition: all 0.8s ease;
    color: seashell;
      background : rgb(79,82,255);
      cursor: pointer;
      font-size: 125%;
      text-shadow: 0 0 5px rgb(255, 255, 255),
  };