@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.card {
	border: 1px solid rgba(255, 255, 255, 0.489);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.09);
	box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.313);
	width: 300px;
	height: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
}

.gral {
	border: 1px solid green;
	display: flex;
	flex-direction: column;
	width: 250px;
}
.textCard {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.nameGenres {
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.name {
	font-family: 'RocknRoll One', sans-serif;
	display: flex;
	align-items: start;
}

.img {
	width: 300px;
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
}

.genres {
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: start;
}

.divRating {
	border: 2px solid purple;
	background-color: darkorchid;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
