.pagination {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    background-color: rgba(0, 0, 0, 0.108);
}

.pagination button{
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}

.item button:hover {
    cursor: pointer;
    font-size: 130%;
    text-shadow: 0 0 5px #fff,
}